<h1 class="text-2xl font-bold mb-4">アプリの使い方</h1>

<div class="bg-white shadow-md rounded-lg p-4">
  <h2 class="text-xl font-bold mb-2">検索</h2>
  <p class="mb-4">検索バーに曲のタイトルまたはアーティスト名を入力して、「検索」ボタンをクリックします。</p>

  <h2 class="text-xl font-bold mb-2">検索結果</h2>
  <p class="mb-4">検索結果が表示されます。各結果には「歌詞を見る」ボタンがあります。</p>

  <h2 class="text-xl font-bold mb-2">歌詞の表示</h2>
  <p class="mb-4">「歌詞を見る」ボタンをクリックすると、選択した曲の歌詞が表示されます。</p>

  <h2 class="text-xl font-bold mb-2">履歴の管理</h2>
  <p class="mb-4">過去に検索された曲のリストが表示されます。各曲には「歌詞を見る」ボタンと「履歴を削除」ボタンがあります。</p>
</div>

<h1 class="text-2xl font-bold mb-4 mt-5">検索のコツ</h1>
<div class="bg-white shadow-md rounded-lg p-4 mb-5">
  <p class="mb-4">曲のタイトルとアーティストのどちらか一方のみでも検索できますが、検索がヒットしない場合は両方入力してみてください。</p>
</div>
<%= link_to "戻る", root_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" %>